{% include "head" %}
  <body>
    {% include "navigation" %}
    {% include "header" %}
    <main class="container">
      <h1>The main title</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nisi saepe qui sapiente officiis soluta id! Autem, perspiciatis sunt aut. Veritatis est accusamus deleniti fugit, placeat laborum fuga eum? Recusandae tempora quo laudantium consequatur excepturi ea minus. Facilis obcaecati explicabo sequi suscipit sapiente consequatur, itaque, fugit id quas nulla, provident.</p>
    </main>
    {% include "footer" %}   
{% include "foot" %}
    